nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(24, 9, 101);
}

nav ul li {
  float: left;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgb(26, 65, 221);
}
nav .active:hover {
  background-color: rgb(195, 5, 21);
}

nav .active {
  background-color: rgb(195, 5, 21);
}
